/* Contenedor principal */
.container {
    width: 1440px;
    height: 900px;
    position: relative;
    overflow: hidden;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: flex; /* Permite alinear los elementos internos */
    justify-content: center; /* Centra el contenido horizontalmente */
}

/* Imagen de fondo */
.image {
    position: absolute;
    left: 0; /* Cambiado de 51.5% a 0 */
    width: 796px;
    height: 900px;
    background-image: url('/login/imageFondo.png');
    background-size: 796px 900px;
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 0;
}

/* Añadir el gradiente como pseudo-elemento */
.image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #33A3AA 0%, #107076 100%);
    z-index: 1;
    opacity: 0.85;
}

/* Área de login */
.login {
    width: 675px;
    margin-left: 765px;
    height: 900px;
    border-top: 1px solid #DCDBDD;
    border-left: 1px solid #DCDBDD;
    border-bottom: 1px solid #DCDBDD;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 2;
    /* Asegura que el área de login quede por encima de la imagen y el gradiente */
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    opacity: 0px;
    /* Asegura que el área de login sea completamente visible */
    gap: 0px;
}

.initSession {
    position: absolute;
    /* Usa posicionamiento absoluto */
    top: 319px;
    left: 95px;
    width: 361px;
    height: 58px;
    font-family: 'Poppins', sans-serif;
    /* Asegúrate de que la fuente sea Poppins */
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;
    color: #FFFFFF;
    /* Asegura que el texto sea visible */
    opacity: 1;
    /* Asegúrate de que el texto sea visible */
    z-index: 3;
    /* Asegura que el texto esté por encima de la imagen y el gradiente */
}

.paragraph {
    position: absolute;
    width: 360px;
    height: 72px;
    top: 387px;
    left: 95px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    opacity: 1;
    z-index: 3;
}
.features-wrapper {
    position: absolute;
    top: 479px;
    left: 95px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 3;
}

.monitoring, .notification {
    margin-top: 3px;
    width: 380px;
    height: 41px;
    opacity: 1;
}

.monitoring img, .notification img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}