<div class="container">
    <div class="image">
        <div class="initSession">
            Iniciar sesión
        </div>
        <p class="paragraph">Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando al máximo nuestra plataforma.</p>
        
        <div class="features-wrapper">
            <div class="monitoring">
                <img src="/login/MonitoreoIntegral.png" alt="Monitor icon">
            </div>
            <div class="notification">
                <img src="/login/NotificacionesEnTiempoReal.png" alt="Notification icon">
            </div>
        </div>
    </div>
    <div class="login">
        <!-- Contenido del login -->
    </div>
</div>